<% if @posts.empty? %>
   <div class="row">
      <div class="col-md-10 text-center">
        <div class="alert alert-light" role="alert">
          No posts found
        </div>
      </div>
    </div>
<% else
    @posts.each do |post| %>
    <div class="post">
      <div class="row">
        <div class="col-md-10 content">
          <div class="row">
            <div class="col">
              <small><%= post.created_at.strftime("%d/%m/%Y %H:%M:%S") %></small>
            </div>
            <div class="col text-right">
              <%= edit_delete_icons(post) %>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h1><%= link_to post.title, post_path(post) %></h1>
              <p class="text-justify"><%= post.text %></p>
            </div>
          </div>
          <div class="row footer align-items-end">
            <div class="col text-center">...</div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
