// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main-color: #F44336;

a {
    color: $main-color !important;
}

a:hover {
    opacity: 50%;
}

.header {
    height: 200px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: $main-color;
    color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: 'Indie Flower', cursive;
}

.add-post {
    padding: 0 !important;
    color: $main-color !important;
    font-size: 40px;
}

.post {
    small { color: $main-color }

    p { margin-top: 25px }
    p, small { font-family: 'Jost', sans-serif }

    a { color: lightgray !important }
    a:hover {
        color: $main-color !important;
        opacity: 100%;
    }

    i {
        font-size: 25px !important;
        margin-left: 10px;
    }

    h1 {
        font-family: 'Balsamiq Sans', cursive;
        margin: 15px 0 20px 0;

        a { color: black !important }
    }

    .footer {
        font-size: 100px;
        color: lightgray;
    }

    .content {
        padding: 25px;
        margin-bottom: 60px;
    }

}

.form-post {
    margin-bottom: 150px;

    .btn-default {
        background-color: $main-color;
        border-color: $main-color;
        color: white !important;
    }

    .btn-default:hover {
        background-color: $main-color;
        border-color: $main-color;
        opacity: 80%;
    }

    .btn-default:focus {
        background-color: $main-color;
        border-color: $main-color;
        opacity: 80%;
        outline: 0;
        box-shadow: 0;
    }
}

.page-title {
    margin-top: 25px;
    margin-bottom: 25px;
}

